.vagrant
tags
.idea/
**/alternatives/
**/group
**/hostname
**/hosts
**/manpath.config
**/passwd
**/protocols
**/reselv.conf
**/services
**/bird/
**/firewall/
**/static_routes/
**/script/
!**/puppetmodules/*
