.vagrant
tags
.idea/
**/alternatives/
**/group
**/hostname
**/hosts
**/manpath.config
**/passwd
**/protocols
**/services
**/mtab
redirection/
init.d/
log/
bird/
firewall/
static_routes/
script/
!**/puppetmodules/*
!**/templates/*
tests/*.pyc
